body {
    padding: 0;
    margin: 0;
}

body {
    font-family: arial, sans-serif;
}

.centered-container {
    width: 75%;
    height: 75%;
    background-color: #e2e2e2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.title {
    font-size: 4rem;
    margin-bottom: 0;
}

.subtitle {
    font-size: 1.5rem;
    text-decoration: underline;
    margin-top: 0;
}

h2,
h3,
h4,
h5,
h6 {
    text-decoration: underline;
    margin-bottom: 0;
    font-size: 2rem;
}

.container {
    width: 75%;
    background-color: #e2e2e2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 1rem;
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: white;
}